@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="page-title ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full inbox_inner_section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full padding_infor_info">
                                    <div class="mail-box">
                                        <aside class="lg-side">
                                            <div class="inbox-head">
                                                <h3>Inbox (10)</h3>
                                                <form action="#" class="pull-right position search_inbox">
                                                    <div class="input-append">
                                                        <input type="text" class="sr-input" placeholder="Search Mail">
                                                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="mail-option">
                                                    <div class="chk-all">
                                                        <div class="btn-group">
                                                            <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false"> All <i class="fa fa-angle-down "></i></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#"> None</a></li>
                                                                <li><a href="#"> Read</a></li>
                                                                <li><a href="#"> Unread</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                                                            <i class=" fa fa-refresh"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group hidden-phone">
                                                        <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                                            More
                                                            <i class="fa fa-angle-down "></i>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a data-toggle="dropdown" href="#" class="btn mini blue">
                                                            Move to
                                                            <i class="fa fa-angle-down "></i>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <ul class="unstyled inbox-pagination">
                                                        <li><span>1-50 of 234</span></li>
                                                        <li>
                                                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <table class="table table-inbox table-hover">
                                                    <tbody>
                                                        <tr class="unread">
                                                            <td class="inbox-small-cells">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                                </div>
                                                            </td>
                                                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                            <td class="view-message  dont-show">PHPClass</td>
                                                            <td class="view-message ">Added a new class: Login Class Fast Site</td>
                                                            <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                                            <td class="view-message  text-right">9:27 AM</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>